* {
    box-sizing: border-box;
}


body, main, a, h2, ul, footer {
    margin: 0;
    font-family: 'Inter', sans-serif;;
    color: #181833;
}


main {
    padding: 30px;
    text-align: left;
}


.card-container {
    max-width: 1320px;
    max-height: 1707px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}


@media screen and (max-width: 992px) {
    .card-container {
        width: 50%;
        justify-content: space-around;
    }
}


.card {
    width: 424px;
    border-radius: 4px;
    padding: 24px;
    border-width: 2px;
    border-style: solid;
}


/*here*/
@media screen and (max-width: 480px) {
    .card {
        padding: 10px;
        width: auto;
    }
}

.card-green {
    border-color: #179D2E;
}

.card-blue {
    border-color: #0177B8;
}

.card-yellow {
    border-color: #F5AF23;
}

.card-red {
    border-color: #F02E2C;
}

.size-s {
    height: 527px;
}

.size-m {
    height: 545px;
}

.size-l {
    height: 587px;
}

.unique-size {
    height: 288px;
}


/*here*/
@media screen and (max-width: 480px) {
    .size-s, .size-m, .size-l, .unique-size {
        height: auto;
    }
}


.flex-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/*here*/
@media screen and (max-width: 480px) {
    .flex-column {
        gap: 10px;
    }
}

.display-right {
    align-self: flex-end;
}

.icon {
    transition: opacity 0.3s ease;
}

.icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.door-icon {
    width: 110px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .door-icon {
        width: 90px;
        height: 80px;
    }
}


.electrical-icon {
    width: 111px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .electrical-icon {
        width: 91px;
        height: 80px;
    }
}


.furniture-icon {
    width: 123px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .furniture-icon {
        width: 103px;
        height: 80px;
    }
}

.home-icon {
    width: 116px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .home-icon {
        width: 96px;
        height: 80px;
    }
}


.installation-icon {
    width: 98px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .installation-icon {
        width: 78px;
        height: 80px;
    }
}


.outdoor-icon {
    width: 94px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .outdoor-icon {
        width: 74px;
        height: 80px;
    }
}


.paint-icon {
    width: 91px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .paint-icon {
        width: 71px;
        height: 80px;
    }
}


.picture-icon {
    width: 117px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .picture-icon {
        width: 97px;
        height: 80px;
    }
}

.plumbing-icon {
    width: 94.15px;
    height: 100px;
}

/*here*/
@media screen and (max-width: 480px) {
    .plumbing-icon {
        width: 74.15px;
        height: 80px;
    }
}


.text-box {
    display: flex;
    flex-direction: column;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 366px;
}

/*here*/
@media screen and (max-width: 480px) {
    ul {
        width: 280px;
    }
}


h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    padding-bottom: 24px;
    width: 380px;
}

/*here*/
@media screen and (max-width: 480px) {
    h2 {
        font-size: 33px;
        padding-bottom: 14px;
        width: auto;
    }
}


li, a {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

/*here*/
@media screen and (max-width: 480px) {
    li, a {
        font-size: 20px;
        line-height: 26px;
    }
}
